*, *::before, *::after{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  background-color: #1a1a1a;
  font-family: "Ubuntu", sans-serif;
  color:wheat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button :hover {
  background-color: red;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logo-img{
  border-radius: 50%;
  height: 5rem;
}
.logo-img:hover{
  transform: scale(1.05);
}
.boy-img img{
  height: 30rem;
  width: 23rem;
  background-color: transparent;
}

.boy-img img:hover{
  transform: scale(1.1);
}

li::first-letter {
  color: rgb(0, 153, 255);
  font-size: 1.1rem;
}


.section1-main{
  background-color: #1a1a1a;
  /* background-size: cover;
  background-repeat: no-repeat; */
  min-height: 100vh;
  width: 100%;
}
.section2-main{
  min-height: 100vh;
  width: 100%; 
}
.section3-main{
  min-height: 100vh;
  width: 100%; 
}
.section4-main{
  min-height: 100vh;
  width: 100%; 
  border-bottom: 0.0625rem rgb(80, 68, 68) solid;
  border-top: 0.0625rem rgb(80, 68, 68) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section5-main{
  min-height: 100vh;
  width: 100%; 
  border-bottom: 0.625rem rgb(11, 110, 202) solid ;
  border-top: 0.0625rem rgb(80, 68, 68) solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-displayed-front{
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  font-family: serif;
  margin-left:2rem;
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  
}




.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.0625rem rgb(80, 68, 68) solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); 
  text-decoration: none;

}

.navLinks{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  /* margin-inline: 10rem; */
  list-style: none;
  text-decoration: none;

}
.navLinks li:hover{
  transform: scale(1.3);
}

.section2-about-me {
  color: #747bff;
  
}

.section2-text-box{
  text-align:center;
  background: transparent;
  padding: 10rem;
  padding-top: 10rem;
  padding-bottom: 13rem;
  justify-content: center;
  border-bottom: 0.0625rem rgb(80, 68, 68) solid;
  border-top: 0.0625rem rgb(80, 68, 68) solid;
}
.loader{
  width: 12rem;
  height: 2rem;
  background: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  animation: loader 3s linear 0s 1 normal;
}

.loading {
  height: 2rem;
  border-radius: 10px;
  background: wheat;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  animation: loading 3s linear 1.5s 1 normal;
}

@keyframes loader {
  0% {
    width: 4rem;
  }
  25% {
    width: 6rem;
  } 
  50% {
    width: 8rem;
  }
  75% {
    width: 10rem;
  }
  100% {
    width: 12rem
  }
}

@keyframes loading {
  0% {
    width: 0.8rem;
  }
  25% {
    width: 1.2rem;
  } 
  50% {
    width: 1.6rem;
  }
  75% {
    width: 2rem;
  }
  100% {
    width: 2.4rem
  }
}

.skills-contents{
  padding-top: 10rem;
  padding-left: 35rem;
  padding-bottom: 0px;
  
}

.projects-title{
  font-size: 3.5rem;
  margin-top: 2rem;
  font-weight: 600;
  font-family:cursive;
}

.projects-thumbnail button:hover{
  background-color: #6464b4;
  transform: scale(1.1);
  border-radius: 50px;
}
.projects-thumbnail{
  display: flex;
}
.projects-thumbnail div:hover{
  color: #494949 !important;
  border-radius: 50px;
  background-color: #8b8fdd;
  border-color: #494949 !important;
  transition: all 1s ease 0s;
}
.projects-thumbnail div{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: #2a829c;
  margin-inline: 1rem;
  list-style: none;
  border-radius:10px ;
  padding: 1rem;
  font-family: cursive;
  font-size: 3rem;
  display: flex;
  box-shadow: 3px 4px 5px 2px rgba(234, 235, 241, 0.904);  
  text-decoration: none;
  border-radius: 50px;

}

.projects-small-fonts{
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.projects-name{
  font-size: 1.5rem;
  background-color: transparent;

}
.projects-details{
  justify-content: center;
  width: 8rem;
  height: 8rem;
}
.projects-details:hover,.projects-details div:hover{
  transform: rotate(360deg);
  background-color: transparent;
}
.project-btn{
  border: 1px solid wheat;
  width: 8rem;
  align-self: center;
  background-color: transparent;
}


@media screen and (max-width: 700px) {
  .projects-thumbnail div{
    flex-direction: column;
  }
}

.projects-thumbnail p:hover{
  transform: scale(1.2);
  transition: rotate 2s;
}

.social-connects img{
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  list-style: none;
  transition: transform 1s linear;
}
.social-connects{
  position: absolute;
  top: 8rem;
  right: 2%;
}
.social-connects img:hover{
  transform: scale(1.5);
}

.form-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box-contact{
  font-size: 3rem;
  font-weight: bold;
}

.contact-info{
  display: flex;
  width: 35%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-info input, .contact-info textarea{
  height: 1.5rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid wheat;
  text-align: center;
  color: wheat;
  font-size: 1rem;
  font-weight: bold;
}
